<p1>物件編集</p1>
<%= form_with(model: @property, local: true) do |form| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= @property.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= form_with(model: @property, local: true) do |form| %>
  <div class="property_name">
    <%= form.label :"物件名" %>
    <%= form.text_field :name %>
  </div>
  <div class="property_price">
    <%= form.label :"賃料" %>
    <%= form.number_field :price %>円
  </div>
  <div class="property_address">
    <%= form.label :"住所" %>
    <%= form.text_field :address %>
  </div>
  <div class="property_age">
    <%= form.label :"築年数" %>
    <%= form.number_field :age %>年
  </div>
  <div class="property_remarks">
    <%= form.label :"備考" %>
    <%= form.text_area :remarks %>
  </div>
  <%= form.submit %>
<% end %>
